.tori {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Ensures that the search input, dropdowns, and buttons are in a row */
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Full width and proper spacing for text input */
.search-section input[type="text"] {
  flex-grow: 2; /* Allows the text input to grow and fill space */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Dropdowns styled consistently with the text input */
.search-section select {
  flex-grow: 1; /* Allows the dropdowns to grow but not as much as the text input */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Consistent styling for checkboxes */
.checkbox-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.checkbox-section label {
  display: flex;
  align-items: center;
  gap: 5px; /* Adds a small gap between the checkbox and its label */
}

/* Button styling for 'Save search' and 'Search' */
.button-section {
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right */
  gap: 10px;
}

.button-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-section button.save-search {
  background-color: #f8f8f8;
  color: #333;
}

.button-section button.save-search:hover {
  background-color: #e8e8e8;
}

.button-section button.search {
  background-color: #007bff;
  color: white;
}

.button-section button.search:hover {
  background-color: #0056b3;
}

/* Ensure proper responsiveness on smaller screens */
@media (max-width: 768px) {
  .tori {
    flex-direction: column;
  }

  .search-section,
  .checkbox-section,
  .button-section {
    flex-direction: column;
    align-items: stretch;
  }

  .search-section input[type="text"],
  .search-section select,
  .button-section button {
    width: 100%; /* Ensures full width on small screens */
  }
}
